<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.mapper.MemberMapper">

	<!-- 회원권한전체조회 -->
	<select id="memberRoleList" resultType="kr.spring.entity.Member">
		SELECT * FROM BT_MEMBER WHERE ROLE != 'ADMIN';
	</select>
	
	<!--회원권한수정  -->
	<update id="roleUpdate" parameterType="kr.spring.entity.Member">
		UPDATE BT_MEMBER
    	SET ROLE = #{role}
   		WHERE USERNAME = #{username}
	</update>
	
	
	
	
	<update id="profileUpdate" parameterType="kr.spring.entity.Member">
		UPDATE BT_MEMBER SET PROFILE = #{profile}
		WHERE USERNAME = #{username}
	</update>
	
	<select id="getMember" parameterType="String" resultType="kr.spring.entity.Member">
		SELECT * FROM BT_MEMBER WHERE USERNAME = #{username}
	</select>
	

	
</mapper>




